@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    min-height: 100vh;
}

body {
    background:
        linear-gradient(
            to bottom right,
            rgba(168, 85, 247, 0.2),
            rgba(63, 140, 255, 0.2),
            rgba(14, 14, 16, 0.2)
        ),
        #23232d;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* form autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 0 transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}
